<!-- <div class="homepage">
	<div class="navHomePageBackground"></div>
	<div class="navHomePage">
   		<h1>BookShelf</h1>
   		<a href="#">Book List</a> | <a href="#">Book Club</a> | <a href="#">Logout</a>
	</div>

	<div class="container">
	
	</div>
</div> -->