<body class="homepage">
	<div class="navHomePageBackground"></div>
	<div class="navHomePage">
   		<h1>BookShelf</h1>
   		<h4><a href="/users/logout" data-method="delete">Logout</a></h4>
	</div>

	<div class="container">
		<div class="bookRecomend">
			<h2>Recomended Books:</h2>
		</div>
		<div class="bookList">
			<h2>Your Book List:</h2>
		</div>
		<div class="quiz">
			<h2>Retake Quiz:</h2>
		</div>
	</div>
</body>
